body{
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}
h1{
    font-size: 50px;
}
.mb{
    color: orange;
}
.hire-me{
    text-decoration: none;
    color: blue;
    background-image: linear-gradient(orange, gray);
    border: 2px;
    border-radius: 5px;
    font-size: 40px;
    padding: 3px 20px;
    font-weight: 500;
}
section{
    display: flex;
}
.half-with{
    width: 50%;
    padding-left: 5%;
}
.half-with img{
    width: 80%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.botom-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
}